Documentation for api [here](https://github.com/18F/open-data-maker/blob/api-docs/API.md)

In [1]:

import requests
import json
import pandas as pd
import matplotlib.pylab as plt
import numpy as np
import requests

In [ ]:
#All data for Boston College

URL='https://api.data.gov/ed/collegescorecard/v1/' +
    'schools?school.name=boston%20college' +
    '&api_key=Xxf2NKtwfcXUd8K2hqawnlur6c0YY93xsNFwq0Dy'

In [38]:
#Completion by race/ethnicity

URL='https://api.data.gov/ed/collegescorecard/v1/'                   \
    'schools?fields=school.name,'                                    \
    'id,'                                                            \
    '2013.student.demographics.race_ethnicity.white,'                \
    '2013.student.demographics.race_ethnicity.black,'                \
    '2013.student.demographics.race_ethnicity.hispanic,'             \
    '2013.student.demographics.race_ethnicity.asian,'                \
    '2013.student.demographics.race_ethnicity.aian,'                 \
    '2013.student.demographics.race_ethnicity.nhpi,'                 \
    '2013.student.demographics.race_ethnicity.two_or_more,'          \
    '2013.student.demographics.race_ethnicity.non_resident_alien,'   \
    '2013.student.demographics.race_ethnicity.unknown,'              \
    '2013.student.demographics.race_ethnicity.white_non_hispanic,'   \
    '2013.student.demographics.race_ethnicity.black_non_hispanic,'   \
    '2013.student.demographics.race_ethnicity.asian_pacific_islander'\
    '&sort=2013.completion.rate_suppressed.overall:desc'             \
    '&api_key=Xxf2NKtwfcXUd8K2hqawnlur6c0YY93xsNFwq0Dy'

In [36]:
URL='https://api.data.gov/ed/collegescorecard/v1/'                   \
    'schools?fields=school.name,'                                    \
    'id,'                                                            \
    '2013.student.demographics.race_ethnicity.white,'                \
    '2013.student.demographics.race_ethnicity.black,'                \
    '2013.student.demographics.race_ethnicity.hispanic,'             \
    '2013.student.demographics.race_ethnicity.asian,'                \
    '2013.student.demographics.race_ethnicity.aian,'                 \
    '2013.student.demographics.race_ethnicity.nhpi,'                 \
    '2013.student.demographics.race_ethnicity.two_or_more,'          \
    '2013.student.demographics.race_ethnicity.non_resident_alien,'   \
    '2013.student.demographics.race_ethnicity.unknown,'              \
    '2013.student.demographics.race_ethnicity.white_non_hispanic,'   \
    '2013.student.demographics.race_ethnicity.black_non_hispanic,'   \
    '2013.student.demographics.race_ethnicity.asian_pacific_islander'\
    '&sort=2013.completion.rate_suppressed.overall:desc'             \
    '&api_key=Xxf2NKtwfcXUd8K2hqawnlur6c0YY93xsNFwq0Dy'

In [72]:
URL='https://api.data.gov/ed/collegescorecard/v1/' \
    'schools?fields=school.name,' \
    'id,' \
    '2011.aid.median_debt.completers.overall,' \
    '2011.repayment.1_yr_repayment.completers,' \
    '2011.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings' \
    '&api_key=Xxf2NKtwfcXUd8K2hqawnlur6c0YY93xsNFwq0Dy'
    #'&page=100' \
#    '&api_key=Xxf2NKtwfcXUd8K2hqawnlur6c0YY93xsNFwq0Dy'

In [73]:
response = requests.get(URL)
response.raise_for_status()
data = response.json()

In [74]:
df = pd.DataFrame(data['results'])

In [75]:
df

,2011.aid.median_debt.completers.overall,id,school.name
0,6250,238573,Columbia College of Nursing
1,NaN,479646,ITT Technical Institute-Overland Park
2,NaN,479655,ITT Technical Institute-Springfield
3,NaN,479664,ITT Technical Institute-West Chester
4,NaN,479770,University of Phoenix-McAllen Campus
5,NaN,479956,Pennsylvania State University-World Campus
6,NaN,479965,Medical Career Institute
7,NaN,479974,Advance Beauty Techs Academy
8,NaN,479983,Longs Peak Academy
9,NaN,479992,Brand College
10,NaN,480000,Hinton Barber College
11,NaN,480019,Advanced Career Institute
12,NaN,480028,Digital Film Academy
13,NaN,480037,MyComputerCareer.com-Raleigh
14,NaN,480073,South University-Austin
15,NaN,480082,South University-Cleveland
16,NaN,480091,Bryant & Stratton College-Online
17,NaN,480107,Virginia College-Florence
18,NaN,480125,Ogle School Hair Skin Nails-San Antonio
19,NaN,480134,Elizabethtown College School of Continuing and...