In [2]:
import pandas as pd
import re
from bs4 import BeautifulSoup
from urllib2 import urlopen
import string
import unicodedata
from IPython.display import Image
from nltk.corpus import stopwords

In [3]:
BASE_URL = "http://careers.stackoverflow.com/jobs/89632/data-scientist-palo-alto-or-seattle-coupang?searchTerm=data+scientist"
html = urlopen(BASE_URL)
soup = BeautifulSoup(html, "lxml")

In [1]:
def soJobs(BASE_URL):
    html = urlopen(BASE_URL)
    soup = BeautifulSoup(html, "lxml")
    rawSkills = soup.findAll("div", { "class" : "description" })[1].findAll('li')  #Get list elements
    skills = unicode.join(u'\n',map(unicode,rawSkills))   #Switch away from ResultSet
    skills = re.sub('<[^>]*>', '', skills)             #Remove elements from text
    skills = re.sub('[()/!@#$,]', ' ', skills)         #Get rid of spurious characters
    jobName = soup.find("a", {"class" : "title job-link"}).text.split()[0:3]
    jobName = re.sub(r'\W+', '',  unicode.join(u'',map(unicode,jobName)))
    filtWords = [i for i in skills.split() if i not in stopwords.words('english')]
    df = pd.DataFrame({"words": filtWords})
    df['title'] = jobName
    df['url'] = BASE_URL.rsplit('/',3)[2]
    return df

In [5]:
soJobs('http://careers.stackoverflow.com/jobs/100529/data-tooling-engineer-enigma?searchTerm=data+scientist')

              words                title     url
0         Expertise  DataToolingEngineer  100529
1            Python  DataToolingEngineer  100529
2           similar  DataToolingEngineer  100529
3         scripting  DataToolingEngineer  100529
4          language  DataToolingEngineer  100529
5          Advanced  DataToolingEngineer  100529
6         knowledge  DataToolingEngineer  100529
7        experience  DataToolingEngineer  100529
8           product  DataToolingEngineer  100529
9            design  DataToolingEngineer  100529
10         Creative  DataToolingEngineer  100529
11       analytical  DataToolingEngineer  100529
12  problem-solving  DataToolingEngineer  100529
13           skills  DataToolingEngineer  100529
14           Strong  DataToolingEngineer  100529
15             work  DataToolingEngineer  100529
16            ethic  DataToolingEngineer  100529
17    communication  DataToolingEngineer  100529
18           skills  DataToolingEngineer  100529