In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
# Read in data in chunks to handle large file size

#tp = pd.read_csv('311_Service_Requests_from_2010_to_Present.csv', iterator=True, chunksize=10000) # gives TextFileReader, which is iteratable with chunks of 10000 rows.
#df = pd.concat(tp, ignore_index=True)

In [4]:
df.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,31845504,10/28/2015 03:24:21 AM,NaN,NYPD,NYPD,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11219,1101 OVINGTON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.626612,-74.007500,"(40.62661172175207, -74.00750037666796)"
1,31839078,10/28/2015 03:23:44 AM,10/28/2015 03:23:55 AM,DHS,Operations Unit - Department of Homeless Services,Homeless Person Assistance,No Status Call,NaN,10019,712 5 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.762495,-73.975193,"(40.76249450483886, -73.9751932073919)"
2,31857385,10/28/2015 03:17:19 AM,NaN,CHALL,CHALL,Opinion for the Mayor,HOUSING,NaN,NaN,NaN,...,NaN,NaN,NaN,1-1-1170054379,NaN,NaN,NaN,NaN,NaN,NaN
3,31840856,10/28/2015 03:14:37 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Posted Parking Sign Violation,Street/Sidewalk,11230,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.613900,-73.969921,"(40.61389964521426, -73.96992136456537)"
4,31850288,10/28/2015 03:07:29 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,11211,139 CONSELYEA STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.715143,-73.945462,"(40.71514277555003, -73.9454616607721)"

In [5]:
# Q2.1: What fraction of complaints are associated with the 2nd most popular agency?
comp = df['Agency'].value_counts()
comp[1] / float(sum(comp))

0.17129590609447273

In [6]:
# Q 2.2: What is the distance (in degrees) between the 90% and 10% 
# percentiles of degrees latitude?

lat = df['Latitude']
lat = lat[ ~np.isnan(lat) ] #Remove NaN
latPc = np.percentile(lat,[0.1,0.9])
print float(np.diff(latPc))

0.0369936597736

In [305]:
# Q 2.4: What is the most 'surprising' complaint type when conditioned on a borough? 
# That is, what is the largest ratio of the conditional probability of a complaint 
# type given a specified borough divided by the unconditioned probability of 
# that complaint type?

cplBr = pd.DataFrame(df.groupby(['Complaint Type', 'Borough']).size())
cpl = pd.DataFrame(df.groupby(['Complaint Type']).size())
br = pd.DataFrame(df.groupby(['Borough']).size())

In [322]:
# Q 2.4 Answer: 

def norm(row):
    return row/sum(row)

condProb = (cplBr/br) 
unCondProb = cpl.apply(norm)

max((condProb/unCondProb)[0])

18.279106841399329

In [7]:
# Q 2.3: What is the difference between the expected number of calls received during the 
# most and least popular whole hours of the day? #(Remove points which do not
# seem to accurately reflect the actual time they were reported.)

callTime = df['Created Date']

In [8]:
# dt = pd.DataFrame(callTime)

In [9]:
########################################################################################
# THIS ONE WORKS! Commented out to avoid the expense of rerunning the script
########################################################################################

#dt['ampm'] = dt['Created Date'].str.split().str.get(2) #AM or PM

#dt['mon'] = dt['Created Date'].str.split().str.get(0).str.split('/').str.get(0) #Month
#dt['day'] = dt['Created Date'].str.split().str.get(0).str.split('/').str.get(1) #Day
#dt['yr'] = dt['Created Date'].str.split().str.get(0).str.split('/').str.get(2) #year

#dt['hr'] = dt['Created Date'].str.split().str.get(1).str.split(':').str.get(0) #Hour
#dt['min'] = dt['Created Date'].str.split().str.get(1).str.split(':').str.get(1) #Min
#dt['sec'] = dt['Created Date'].str.split().str.get(1).str.split(':').str.get(2) #Sec

In [10]:
#dt.groupby(['yr', 'mon']).size()
dt.groupby(['ampm', 'hr']).size()
dt[dt.hr=='12'].groupby(['ampm','min']).size()

ampm  min
AM    00     3515370
      01        2512
      02        2354
      03        2294
      04        2292
      05        2338
      06        2307
      07        2173
      08        2149
      09        2096
      10        2294
      11        2103
      12        2178
      13        2107
      14        2131
      15        2206
      16        2123
      17        2124
      18        2137
      19        2058
      20        2239
      21        2153
      22        2109
      23        2085
      24        2129
      25        2098
      26        1952
      27        2086
      28        2087
      29        2018
              ...
PM    30        7836
      31        8400
      32        7263
      33        7268
      34        7412
      35        7300
      36        7209
      37        7235
      38        7048
      39        7223
      40        7246
      41        7152
      42        7164
      43        6988
      44        7060
      45        7451
      46        8434
      47        7086
      48        7054
      49        7093
      50        7236
      51        6879
      52        7045
      53        7142
      54        7241
      55        7171
      56        6978
      57        6991
      58        7087
      59        7130
dtype: int64

In [11]:
print len(dt[(dt.hr=='12') & (dt.sec == '00') & (dt['min']=='00') & (dt.ampm == 'AM')])
print len(dt[(dt.hr=='12') & (dt.sec == '01') & (dt['min']=='00') & (dt.ampm == 'AM')])


# !2:00:00 AM is 3,512,306
# 12:01:01 AM is 33

3513585
33

In [12]:
# Remove rows where the time is exactly 12:00:00 AM

exclude = (dt.hr=='12') & (dt.sec == '00') & (dt['min']=='00') & (dt.ampm == 'AM')
dt2 = dt.loc[~exclude,:]

print len(dt[(dt.hr=='12') & (dt.sec == '00') & (dt['min']=='00') & (dt.ampm == 'AM')])
print len(exclude)
print len(dt2)

3513585
10144323
6630738

In [13]:
#Make sure the lengths are the same
6630738 + 3512306

10143044

In [14]:
#Make sure the midnight data are gone
print len(dt2[(dt2.hr=='12') & (dt2.sec == '00') & (dt2['min']=='00') & (dt2.ampm == 'AM')])
print len(dt2[(dt2.hr=='12') & (dt2.sec == '01') & (dt2['min']=='00') & (dt2.ampm == 'AM')])

0
33

In [15]:
# Find the most/least popular hour for calls
# Min is 4 am; max is 11 am
dt2.groupby(['ampm', 'hr']).size()

ampm  hr
AM    01     94682
      02     71182
      03     43398
      04     39254
      05     43514
      06     93075
      07    190867
      08    331327
      09    475926
      10    544506
      11    549044
      12    122329
PM    01    504021
      02    514655
      03    467280
      04    396802
      05    311194
      06    300184
      07    261162
      08    223913
      09    215972
      10    205886
      11    180078
      12    450487
dtype: int64

In [355]:
# Q2.3 answer
# Calculate the expected differences

expMax = dt2[ (dt2.ampm == 'AM') & (dt2.hr=='11')].groupby(['mon','day','yr']).count().mean()[0]
expMin = dt2[ (dt2.ampm == 'AM') & (dt2.hr=='04')].groupby(['mon','day','yr']).count().mean()[0]

print 'Expected Max:\n' + str(expMin) + '\n\nExpected Min:\n' +  str(expMax)

print '\nDiff b/w expected min/max:\n' + str(expMax - expMin)
#quantVar = ['health_dental','other_benefits','other_salaries','overtime','retirement','salaries','total_benefits','total_compensation','total_salary']
#df[quantVar] = df[quantVar].astype(float)

Expected Max:
18.4637817498

Expected Min:
258.252116651

Diff b/w expected min/max:
239.788334901

In [349]:
dt2[ (dt2.ampm == 'AM') & (dt2.hr=='04')].groupby(['mon','day','yr']).count()

              Created Date  ampm  hr  min  sec
mon day yr
01  01  2010            24    24  24   24   24
        2011            24    24  24   24   24
        2012            32    32  32   32   32
        2013             9     9   9    9    9
        2014            21    21  21   21   21
        2015            41    41  41   41   41
    02  2010             6     6   6    6    6
        2011            23    23  23   23   23
        2012             9     9   9    9    9
        2013            10    10  10   10   10
        2014             3     3   3    3    3
        2015            32    32  32   32   32
    03  2010             8     8   8    8    8
        2011            10    10  10   10   10
        2012            12    12  12   12   12
        2013             9     9   9    9    9
        2014            12    12  12   12   12
        2015            15    15  15   15   15
    04  2010             6     6   6    6    6
        2011             9     9   9    9    9
        2012            15    15  15   15   15
        2013            17    17  17   17   17
        2014            16    16  16   16   16
        2015            21    21  21   21   21
    05  2010             2     2   2    2    2
        2011             2     2   2    2    2
        2012             7     7   7    7    7
        2013            10    10  10   10   10
        2014            20    20  20   20   20
        2015            13    13  13   13   13
...                    ...   ...  ..  ...  ...
12  26  2010            10    10  10   10   10
        2011            11    11  11   11   11
        2012            11    11  11   11   11
        2013             8     8   8    8    8
        2014            15    15  15   15   15
    27  2010            14    14  14   14   14
        2011             8     8   8    8    8
        2012            32    32  32   32   32
        2013             6     6   6    6    6
        2014            15    15  15   15   15
    28  2010            14    14  14   14   14
        2011            13    13  13   13   13
        2012             9     9   9    9    9
        2013            14    14  14   14   14
        2014            26    26  26   26   26
    29  2010            21    21  21   21   21
        2011             8     8   8    8    8
        2012             6     6   6    6    6
        2013            16    16  16   16   16
        2014            15    15  15   15   15
    30  2010            18    18  18   18   18
        2011            13    13  13   13   13
        2012            12    12  12   12   12
        2013            12    12  12   12   12
        2014            22    22  22   22   22
    31  2010            17    17  17   17   17
        2011            17    17  17   17   17
        2012            14    14  14   14   14
        2013            17    17  17   17   17
        2014            17    17  17   17   17

[2126 rows x 5 columns]

In [223]:
# Q2.6 What is the standard deviation in seconds of the time between consecutive 
# calls? (Remove points which do not seem to accurately reflect the actual 
# time they were reported.)

# Reset index for good measure
#dt2 = dt2.reset_index()

#Create a new column
#Should I first create a new index? Then wouldn't need to loop anything...
# df[delta] = df['s'] - df['s' + 1]

In [231]:
# Figure out how to do datetime on a smaller dataset
test=dt2[0:200]
print test.head()
test['Created Date'].str.split().str.get(2) #AM or PM
test['Created Date'].str.split().str.get(1).str.split(':').str.get(0) #Hour
test['Created Date'].str.split().str.get(0).str.split('/').str.get(0) #Month
test['Created Date'].str.split().str.get(0).str.split('/').str.get(1) #Day

test.loc[:,'ampm'] = test['Created Date'].str.split().str.get(2) #AM or PM
test.loc[:,'h'] = test['Created Date'].str.split().str.get(1).str.split(':').str.get(0) #Hour
test.loc[:,'m'] = test['Created Date'].str.split().str.get(0).str.split('/').str.get(0) #Month
test.loc[:,'d'] = test['Created Date'].str.split().str.get(0).str.split('/').str.get(1) #Day
test.head()

   index            Created Date ampm mon day    yr  hr min sec  \
0      0  10/28/2015 03:24:21 AM   AM  10  28  2015  03  24  21
1      1  10/28/2015 03:23:44 AM   AM  10  28  2015  03  23  44
2      2  10/28/2015 03:17:19 AM   AM  10  28  2015  03  17  19
3      3  10/28/2015 03:14:37 AM   AM  10  28  2015  03  14  37
4      4  10/28/2015 03:07:29 AM   AM  10  28  2015  03  07  29

                dTime  delta              dTimeF
0 2015-10-28 03:24:21      0                 NaT
1 2015-10-28 03:23:44     37 2015-10-28 03:24:21
2 2015-10-28 03:17:19    385 2015-10-28 03:23:44
3 2015-10-28 03:14:37    162 2015-10-28 03:17:19
4 2015-10-28 03:07:29    428 2015-10-28 03:14:37

,index,Created Date,ampm,mon,day,yr,hr,min,sec,dTime,delta,dTimeF,h,m,d
0,0,10/28/2015 03:24:21 AM,AM,10,28,2015,03,24,21,2015-10-28 03:24:21,0,NaT,03,10,28
1,1,10/28/2015 03:23:44 AM,AM,10,28,2015,03,23,44,2015-10-28 03:23:44,37,2015-10-28 03:24:21,03,10,28
2,2,10/28/2015 03:17:19 AM,AM,10,28,2015,03,17,19,2015-10-28 03:17:19,385,2015-10-28 03:23:44,03,10,28
3,3,10/28/2015 03:14:37 AM,AM,10,28,2015,03,14,37,2015-10-28 03:14:37,162,2015-10-28 03:17:19,03,10,28
4,4,10/28/2015 03:07:29 AM,AM,10,28,2015,03,07,29,2015-10-28 03:07:29,428,2015-10-28 03:14:37,03,10,28

In [234]:
from datetime import datetime
from datetime import timedelta

date_object = datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')

temp1 = ' '.join(list(test.loc[1][['mon','day','yr','hr','min','sec','ampm']]))
temp2 = ' '.join(list(test.loc[2][['mon','day','yr','hr','min','sec','ampm']]))

t1 = datetime.strptime(temp, '%m %d %Y %I %M %S %p')
t2 = datetime.strptime(temp2, '%m %d %Y %I %M %S %p')

#%m %d %Y %I %M %S %p
#timedelta(t1,t2)

In [90]:
############ Need this one to get the data in datetime form ###########

#dtime = [datetime.strptime(' '.join(list(dt2.iloc[i][['mon','day','yr','hr','min','sec','ampm']])), '%m %d %Y %I %M %S %p') for i in range(len(dt2))]
#dt2.loc[:,'dTime'] = dtime
#dt2.loc[:,'dTimeF'] = dt2['dTime'].shift()
#works
#[' '.join(list(test.loc[i][['mon','day','yr','hr','min','sec','ampm']])) for i in range(4)]

In [203]:
# Q2.6: What is the standard deviation in seconds of the time between consecutive calls?

#tx = [(dt2.iloc[i]['dTimeF']-dt2.iloc[i]['dTime']).seconds for i in range(1,len(dt2))]
#dt2.loc[range(1,len(dt2)), 'delta'] = tx

#dt2['delta']=(dt2['dTimeF']-dt2['dTime']).seconds

In [229]:
# Q2.6 answer:
np.std(dt2.loc[range(1,len(dt2))]['delta'])

56.29639426560346