In [1]:
pwd

u'/Users/Peter/git/dataSandbox/dataIncChallenge'

In [2]:
ls

311_Service_Requests_from_2010_to_Present.csv  q1RandWalk.ipynb                               q2Police.ipynb

In [3]:
import pandas as pd

In [4]:
#df = pd.DataFrame.from_csv('311_Service_Requests_from_2010_to_Present.csv')

In [5]:
tp = pd.read_csv('311_Service_Requests_from_2010_to_Present.csv', iterator=True, chunksize=1000) # gives TextFileReader, which is iteratable with chunks of 1000 rows.
df = pd.concat(tp, ignore_index=True)

In [10]:
df.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,31845504,10/28/2015 03:24:21 AM,NaN,NYPD,NYPD,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11219,1101 OVINGTON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.626612,-74.007500,"(40.62661172175207, -74.00750037666796)"
1,31839078,10/28/2015 03:23:44 AM,10/28/2015 03:23:55 AM,DHS,Operations Unit - Department of Homeless Services,Homeless Person Assistance,No Status Call,NaN,10019,712 5 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.762495,-73.975193,"(40.76249450483886, -73.9751932073919)"
2,31857385,10/28/2015 03:17:19 AM,NaN,CHALL,CHALL,Opinion for the Mayor,HOUSING,NaN,NaN,NaN,...,NaN,NaN,NaN,1-1-1170054379,NaN,NaN,NaN,NaN,NaN,NaN
3,31840856,10/28/2015 03:14:37 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Posted Parking Sign Violation,Street/Sidewalk,11230,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.613900,-73.969921,"(40.61389964521426, -73.96992136456537)"
4,31850288,10/28/2015 03:07:29 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,11211,139 CONSELYEA STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.715143,-73.945462,"(40.71514277555003, -73.9454616607721)"

In [14]:
df['Agency'].value_counts()

HPD           3589455
DOT           1737681
NYPD          1245952
DEP            944539
DSNY           772054
DOB            532735
DPR            463736
DOHMH          290287
DOF            149577
TLC            135575
DCA            124571
HRA             55726
FDNY            28728
3-1-1           22542
CHALL           16235
DOE             11917
DHS              7216
EDC              5846
DOITT            4790
DFTA             2187
OPS              1293
NYCEM             980
OATH              272
DOP               162
MOIA               25
COIB               22
MOVA               14
MOFTB              13
FUND               12
LAW                10
               ...
MOC                 9
NYCOOA              9
DCAS                8
CAU                 8
AJC                 8
NYCPPF              8
OCME                7
MOPD                7
DYCD                7
DOC                 7
IA                  6
OCHIA               6
ACS                 5
OAE                 5
EMTF                4
SBS                 4
CWI                 4
VAC                 4
OPA                 4
WF1                 3
DV                  3
NYCERS              3
NYCSERVICE          3
DESIGNCOM           3
LOFT                2
DCP                 2
OMB                 1
DORIS               1
LPC                 1
TFA                 1
Name: Agency, dtype: int64

In [16]:
df.columns

Index([u'Unique Key', u'Created Date', u'Closed Date', u'Agency',
       u'Agency Name', u'Complaint Type', u'Descriptor', u'Location Type',
       u'Incident Zip', u'Incident Address', u'Street Name', u'Cross Street 1',
       u'Cross Street 2', u'Intersection Street 1', u'Intersection Street 2',
       u'Address Type', u'City', u'Landmark', u'Facility Type', u'Status',
       u'Due Date', u'Resolution Description',
       u'Resolution Action Updated Date', u'Community Board', u'Borough',
       u'X Coordinate (State Plane)', u'Y Coordinate (State Plane)',
       u'Park Facility Name', u'Park Borough', u'School Name',
       u'School Number', u'School Region', u'School Code',
       u'School Phone Number', u'School Address', u'School City',
       u'School State', u'School Zip', u'School Not Found',
       u'School or Citywide Complaint', u'Vehicle Type',
       u'Taxi Company Borough', u'Taxi Pick Up Location',
       u'Bridge Highway Name', u'Bridge Highway Direction', u'Road Ramp',
       u'Bridge Highway Segment', u'Garage Lot Name', u'Ferry Direction',
       u'Ferry Terminal Name', u'Latitude', u'Longitude', u'Location'],
      dtype='object')